In [15]:
import pandas as pd
import numpy as np

In [16]:
df=pd.read_csv("Human_Trafficking.csv")
df.head()

C:\Users\bittu\AppData\Local\Temp\ipykernel_9600\3255961606.py:1: DtypeWarning: Columns (54) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Human_Trafficking.csv")

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

In [17]:
df.isnull().sum().sort_values(ascending = False)

yearOfRegistration            0
typeOfLabourOther             0
isSlaveryAndPractices         0
typeOfExploitConcatenated     0
typeOfLabourAgriculture       0
                             ..
meansOfControlConcatenated    0
isForcedLabour                0
isSexualExploit               0
isOtherExploit                0
recruiterRelationUnknown      0
Length: 63, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48651 entries, 0 to 48650
Data columns (total 63 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   yearOfRegistration                      48651 non-null  int64
 1   Datasource                              48651 non-null  object
 2   gender                                  48651 non-null  object
 3   ageBroad                                48651 non-null  object
 4   majorityStatus                          48651 non-null  object
 5   majorityStatusAtExploit                 48651 non-null  object
 6   majorityEntry                           48651 non-null  object
 7   citizenship                             48651 non-null  object
 8   meansOfControlDebtBondage               48651 non-null  int64
 9   meansOfControlTakesEarnings             48651 non-null  int64
 10  meansOfControlRestrictsFinancialAccess  48651 non-null  int64
 11  meansOfControlThreats                   48651 non-null  int64
 12  meansOfControlPsychologicalAbuse        48651 non-null  int64
 13  meansOfControlPhysicalAbuse             48651 non-null  int64
 14  meansOfControlSexualAbuse               48651 non-null  int64
 15  meansOfControlFalsePromises             48651 non-null  int64
 16  meansOfControlPsychoactiveSubstances    48651 non-null  int64
 17  meansOfControlRestrictsMovement         48651 non-null  int64
 18  meansOfControlRestrictsMedicalCare      48651 non-null  int64
 19  meansOfControlExcessiveWorkingHours     48651 non-null  int64
 20  meansOfControlUsesChildren              48651 non-null  int64
 21  meansOfControlThreatOfLawEnforcement    48651 non-null  int64
 22  meansOfControlWithholdsNecessities      48651 non-null  int64
 23  meansOfControlWithholdsDocuments        48651 non-null  int64
 24  meansOfControlOther                     48651 non-null  int64
 25  meansOfControlNotSpecified              48651 non-null  int64
 26  meansOfControlConcatenated              48651 non-null  object
 27  isForcedLabour                          48651 non-null  int64
 28  isSexualExploit                         48651 non-null  int64
 29  isOtherExploit                          48651 non-null  int64
 30  isSexAndLabour                          48651 non-null  int64
 31  isForcedMarriage                        48651 non-null  int64
 32  isForcedMilitary                        48651 non-null  int64
 33  isOrganRemoval                          48651 non-null  int64
 34  isSlaveryAndPractices                   48651 non-null  int64
 35  typeOfExploitConcatenated               48651 non-null  object
 36  typeOfLabourAgriculture                 48651 non-null  int64
 37  typeOfLabourAquafarming                 48651 non-null  int64
 38  typeOfLabourBegging                     48651 non-null  int64
 39  typeOfLabourConstruction                48651 non-null  int64
 40  typeOfLabourDomesticWork                48651 non-null  int64
 41  typeOfLabourHospitality                 48651 non-null  int64
 42  typeOfLabourIllicitActivities           48651 non-null  int64
 43  typeOfLabourManufacturing               48651 non-null  int64
 44  typeOfLabourMiningOrDrilling            48651 non-null  int64
 45  typeOfLabourPeddling                    48651 non-null  int64
 46  typeOfLabourTransportation              48651 non-null  int64
 47  typeOfLabourOther                       48651 non-null  int64
 48  typeOfLabourNotSpecified                48651 non-null  int64
 49  typeOfLabourConcatenated                48651 non-null  object
 50  typeOfSexProstitution                   48651 non-null  int64
 51  typeOfSexPornography                    48651 non-null  int64
 52  typeOfSexRemoteInteractiveServices      48651 non-null  int64
 53  typeOfSexPrivateSexualServices          48651 non-null  int64
 54  typeOfSexConcatenated                   48651 non-null  object
 55  isAbduction                             48651 non-null  int64
 56  RecruiterRelationship                   48651 non-null  object
 57  CountryOfExploitation                   48651 non-null  object
 58  recruiterRelationIntimatePartner        48651 non-null  int64
 59  recruiterRelationFriend                 48651 non-null  int64
 60  recruiterRelationFamily                 48651 non-null  int64
 61  recruiterRelationOther                  48651 non-null  int64
 62  recruiterRelationUnknown                48651 non-null  int64
dtypes: int64(50), object(13)
memory usage: 23.4+ MB

In [19]:
df=df.replace(to_replace=-99,value=np.nan)
df

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,NaN,NaN,...,NaN,NaN,NaN,-99,-99,0.0,0.0,0.0,0.0,1.0
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,NaN,NaN,...,NaN,NaN,NaN,-99,-99,0.0,0.0,0.0,0.0,1.0
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,NaN,NaN,...,NaN,NaN,NaN,-99,-99,0.0,0.0,0.0,0.0,1.0
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,NaN,NaN,...,NaN,NaN,NaN,-99,-99,0.0,0.0,0.0,0.0,1.0
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,NaN,NaN,...,NaN,NaN,NaN,-99,-99,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48646,2019,Case Management,Female,-99,-99,Adult,-99,UG,0.0,0.0,...,NaN,-99,0.0,-99,UG,NaN,NaN,NaN,NaN,NaN
48647,2019,Case Management,Female,-99,-99,Adult,-99,UG,0.0,0.0,...,NaN,-99,0.0,-99,UG,NaN,NaN,NaN,NaN,NaN
48648,2019,Case Management,Female,-99,-99,Adult,-99,UG,0.0,0.0,...,NaN,-99,0.0,-99,UG,NaN,NaN,NaN,NaN,NaN
48649,2019,Case Management,Female,-99,-99,Minor,-99,UG,0.0,0.0,...,NaN,-99,0.0,-99,UG,NaN,NaN,NaN,NaN,NaN
48650,2019,Case Management,Female,-99,-99,Adult,-99,UG,0.0,0.0,...,NaN,-99,0.0,-99,UG,NaN,NaN,NaN,NaN,NaN

In [20]:
df=df.replace(to_replace='-99',value=np.nan)
df

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0
1,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0
2,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0
3,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0
4,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48646,2019,Case Management,Female,NaN,NaN,Adult,NaN,UG,0.0,0.0,...,NaN,NaN,0.0,NaN,UG,NaN,NaN,NaN,NaN,NaN
48647,2019,Case Management,Female,NaN,NaN,Adult,NaN,UG,0.0,0.0,...,NaN,NaN,0.0,NaN,UG,NaN,NaN,NaN,NaN,NaN
48648,2019,Case Management,Female,NaN,NaN,Adult,NaN,UG,0.0,0.0,...,NaN,NaN,0.0,NaN,UG,NaN,NaN,NaN,NaN,NaN
48649,2019,Case Management,Female,NaN,NaN,Minor,NaN,UG,0.0,0.0,...,NaN,NaN,0.0,NaN,UG,NaN,NaN,NaN,NaN,NaN
48650,2019,Case Management,Female,NaN,NaN,Adult,NaN,UG,0.0,0.0,...,NaN,NaN,0.0,NaN,UG,NaN,NaN,NaN,NaN,NaN

In [21]:
df.columns

Index(['yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified', 'meansOfControlConcatenated',
       'isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified', 'typeOfLabourConcatenated',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices',
       'typeOfSexConcatenated', 'isAbduction', 'RecruiterRelationship',
       'CountryOfExploitation', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown'],
      dtype='object')

In [22]:
df.isna().sum().sort_values(ascending = False)

meansOfControlUsesChildren                48500
meansOfControlRestrictsFinancialAccess    48398
isSlaveryAndPractices                     47063
meansOfControlThreatOfLawEnforcement      46643
meansOfControlDebtBondage                 46155
                                          ...
citizenship                                 128
recruiterRelationUnknown                     77
Datasource                                    0
gender                                        0
yearOfRegistration                            0
Length: 63, dtype: int64

In [23]:
df.drop(columns=['meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified','isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices','recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown'],inplace=True)
df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlConcatenated,typeOfExploitConcatenated,...,typeOfLabourNotSpecified,typeOfLabourConcatenated,typeOfSexProstitution,typeOfSexPornography,typeOfSexRemoteInteractiveServices,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation
0,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,Sexual exploitation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,Sexual exploitation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,Sexual exploitation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,Sexual exploitation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,Sexual exploitation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.drop(columns=['typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices'],inplace=True)

In [25]:
df.drop(columns=['isAbduction'],inplace=True)

In [26]:
df.columns

Index(['yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlConcatenated',
       'typeOfExploitConcatenated', 'typeOfLabourConcatenated',
       'typeOfSexConcatenated', 'RecruiterRelationship',
       'CountryOfExploitation'],
      dtype='object')

In [27]:
df.shape

(48651, 14)

In [28]:
'''df1=df.groupby('ext_service_name')['approved_budget'].mean().to_dict()
for i in df1.keys():
    df.loc[(df['ext_service_name']==i) & (df['approved_budget'].isnull()),'approved_budget']=df1[i]
    '''

"df1=df.groupby('ext_service_name')['approved_budget'].mean().to_dict()\nfor i in df1.keys():\n    df.loc[(df['ext_service_name']==i) & (df['approved_budget'].isnull()),'approved_budget']=df1[i]\n    "

In [29]:
df['CountryOfExploitation'] = df['CountryOfExploitation'].fillna(df.groupby(['citizenship','gender'])['CountryOfExploitation'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None))

C:\Users\bittu\AppData\Local\Temp\ipykernel_9600\54380219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['CountryOfExploitation'] = df['CountryOfExploitation'].fillna(df.groupby(['citizenship','gender'])['CountryOfExploitation'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None))

In [30]:
df.isna().sum()

yearOfRegistration                0
Datasource                        0
gender                            0
ageBroad                      12212
majorityStatus                12212
majorityStatusAtExploit       39361
majorityEntry                 42160
citizenship                     128
meansOfControlConcatenated    32131
typeOfExploitConcatenated     16024
typeOfLabourConcatenated      42402
typeOfSexConcatenated         44062
RecruiterRelationship         30531
CountryOfExploitation            15
dtype: int64

In [31]:
df.shape

(48651, 14)

In [32]:
df.to_csv('output.csv', index=False)